@model TransportManagement.Models.User.UserViewModel
@{
    ViewData["Title"] = "Zarządzanie rolami";
}
@if (TempData["message"] != null)
{
    <script>
        alert('@TempData["message"]');
    </script>
}

<div class="text-center">
    <h1 class="display-4">Lista Użytkowników</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Email</th>
                <th scope="col">Rola</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td scope="row">@item.Name</td>
                    <td scope="row">@item.LastName</td>
                    <td scope="row">@item.Email</td>
                    <td scope="row">@item.Role</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container mt-5">
    <form class="mb-4" asp-action="UnAssignRole" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="roleName">Nazwa roli</label>
            <input type="text" id="roleName" name="roleName" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-danger">Usuń rolę</button>
        <a class="btn btn-danger" href="javascript: history.go(-1)">Wróć</a>
    </form>
</div>