@model TransportManagement.Models.Drivers.DriverViewModel
@{
    ViewData["Title"] = "Kierowcy";
}

<div class="text-center">
    <h1 class="display-4">Lista Kierwców</h1>
    <div class="table-container">
        <table class="table table-hover" id="usersTable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Data Urodzenia</th>
                    <th scope="col">Nr Telefonu</th>
                    <th scope="col">Email</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Doświadczenie</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Drivers)
                {
                    <tr>
                        <td scope="row">@item.Id</td>
                        <td scope="row">@item.Name</td>
                        <td scope="row">@item.LastName</td>
                        <td scope="row">@item.DateOfBirth.ToString("dd.MM.yyyy")</td>
                        <td scope="row">@item.PhoneNumber</td>
                        <td scope="row">@item.Email</td>
                        <td scope="row">@item.Address</td>
                        <td scope="row">@item.Experience</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center m-5">
            <a class="btn btn-success" asp-area="" asp-controller="Driver" asp-action="AddDriver" role="button">Dodaj kierowcę</a>
            <a class="btn btn-warning" asp-area="" asp-controller="Driver" asp-action="UpdateDriver" role="button">Edytuj kierowcę</a>
            <a class="btn btn-danger" asp-area="" asp-controller="Driver" asp-action="DeleteDriver" role="button">Usuń kierowcę</a>
        </div>
    </div>
</div>