@model TransportManagement.Models.Drivers.DriverViewModel
@{
    ViewData["Title"] = "Kierowcy";
}
@if (TempData["message"] != null)
{
    <script>
        alert('@TempData["message"]');
    </script>
}

<div class="text-center">
    <h1 class="display-4">Lista Kierowców</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imie</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Data Urodzenia</th>
                <th scope="col">Nr Telefonu</th>
                <th scope="col">Email</th>
                <th scope="col">Adres</th>
                <th scope="col">Doświadczenie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Drivers)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Name</td>
                    <td scope="row">@item.LastName</td>
                    <td scope="row">@item.DateOfBirth</td>
                    <td scope="row">@item.PhoneNumber</td>
                    <td scope="row">@item.Email</td>
                    <td scope="row">@item.Address</td>
                    <td scope="row">@item.Experience</td>
                </tr>
            }
        </tbody>
    </table>
</div>

                    
<form method="put" asp-controller="Driver" asp-action="UpdateThisDriver">
    <div class="form-group">
        <label for="Id">Id: <span style="color: red">*</span></label>
        <input type="number" class="form-control" id="Id" placeholder="Id" name="Id" />
    </div>

    <div class="form-group">
        <label for="name">Imię: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="name" placeholder="Imie" name="name" />
    </div>

    <div class="form-group">
        <label for="lastname">Nazwisko: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="lastname" placeholder="Nazwisko" name="lastname" />
    </div>

    <div class="form-group">
        <label for="dateofbirth">Data Urodzenia: <span style="color: red">*</span></label>
        <input type="datetime" class="form-control" id="dateofbirth" placeholder="Data Urodzenia" name="dateofbirth" />
    </div>

    <div class="form-group">
        <label for="phonenumber">Nr Telefonu: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="phonenumber" placeholder="Nr Telefonu" name="phonenumber" />
    </div>

    <div class="form-group">
        <label for="email">E-mail: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="email" placeholder="E-mail" name="email" />
    </div>

    <div class="form-group">
        <label for="address">Address: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="address" placeholder="Address" name="address" />
    </div>

    <div class="form-group">
        <label for="experience">Doświadczenie: <span style="color: red">*</span></label>
        <input type="number" class="form-control" id="experience" placeholder="Doświadczenie" name="experience" />
    </div>

    <div class="text-center m-5">
        <button type="submit" class="btn btn-warning">Edytuj</button>
        <a class="btn btn-danger" href="javascript: history.go(-1)">Wróć</a>
    </div>
</form>