@model TransportManagement.Models.FinanceReport.FinanceReportViewModel

@{
    ViewData["Title"] = "Raport Finansowy - Miesięczny";
}

<div class="text-center">
    <h1 class="display-4">Finanse Miesięczne</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Rok</th>
                <th scope="col">Miesiąc</th>
                <th scope="col">Przychód</th>
                <th scope="col">Wydatki</th>
                <th scope="col">Wypłaty</th>
                <th scope="col">Zysk netto</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in Model.FinanceReports)
            {
                <tr>
                    <td scope="row">@report.Year</td>
                    <td scope="row">@report.Month</td>
                    <td scope="row">@report.TotalRevenue</td>
                    <td scope="row">@report.TotalExpenses</td>
                    <td scope="row">@report.TotalSalary</td>
                    <td scope="row">@report.NetProfit.ToString("C")</td>
                    <td>
                        <a href="@Url.Action("DownloadMonthlyReport", "FinanceReport", new { driverEmail = report.EmployeeEmail, year = report.Year, month = report.Month })" class="btn btn-primary">
                            Pobierz PDF
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>