@model TransportManagement.Models.AssignTruck.AssignTruckViewModel
@{
    ViewData["Title"] = "Przypisz ciężarówkę do naczepy";
}
@if (TempData["message"] != null)
{
    <script>
        alert('@TempData["message"]');
    </script>
}

<div class="text-center">
    <h1 class="display-4">Przypisz Ciężarówkę</h1>
    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Model</th>
                <th scope="col">Przypisany kierowca</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Trucks)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Model</td>
                    <td scope="row">@item.IsAssignedDriver</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Imię i Nazwisko</th>
                <th scope="col">Przypisana ciężarówka</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Drivers)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Name @item.LastName</td>
                    <td scope="row">@item.IsAssignedTruck</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<form method="post" asp-controller="AssignTruck" asp-action="AssignmentThisTruck">
    <div class="form-group">
        <label for="id">Id ciężarówki: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="id" placeholder="Id ciężarówki" name="truckId" />
    </div>

    <div class="form-group">
        <label for="id">Id kierowcy: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="id" placeholder="Id kierowcy" name="driverId" />
    </div>

    <div class="text-center m-5">
        <button type="submit" class="btn btn-success">Dodaj</button>
        <a class="btn btn-danger" href="javascript: history.go(-1)">Wróć</a>
    </div>
</form>