@model TransportManagement.Models.AssignTrailer.AssignTrailerViewModel
@{
    ViewData["Title"] = "Przypisania Ciężarówki";
}
@if (TempData["message"] != null)
{
        <script>
            alert('@TempData["message"]');
        </script>
}

<div class="text-center">
    <h1 class="display-4">Lista Ciężarówek</h1>
    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Model ciężarówki</th>
                <th scope="col">Model naczepy</th>
                <th scope="col">Data przypisania</th>
                <th scope="col">Data zwrotu</th>
                <th scope="col">Czy zwrózono?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Trailer)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td scope="row">@item.Model</td>
                    <td scope="row">@item.IsAssigned</td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table table-hover m-2">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Model ciężarówki</th>
                <th scope="col">Przypisanie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Truck)
            {
                    <tr>
                        <td scope="row">@item.Id</td>
                        <td scope="row">@item.Model</td>
                        <td scope="row">@item.IsAssignedDriver</td>
                    </tr>
            }
        </tbody>
    </table>
</div>

<form method="post" asp-controller="AssignTrailer" asp-action="AssignmentThisTrailer">
    <div class="form-group">
        <label for="id">Id naczepy: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="id" placeholder="Id ciężarówki" name="trailerId" />
    </div>

    <div class="form-group">
        <label for="id">Id ciężarówki: <span style="color: red">*</span></label>
        <input type="text" class="form-control" id="id" placeholder="Id kierowcy" name="truckId" />
    </div>

    <div class="text-center m-5">
        <button type="submit" class="btn btn-success">Dodaj</button>
        <a class="btn btn-danger" href="javascript: history.go(-1)">Wróć</a>
    </div>
</form>